<div class="row">
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary" ng-click="truckingDetailVm.submitTuckInfo(truckingDetailVm.data)">Submit</button>
        <button type="button" class="btn btn-primary">Clear</button>
    </div>
    <div class="col-sm-offset-4 col-sm-4">
        <button type="button" class="btn btn-primary" ng-click="truckingDetailVm.autoFillDetails()">Autofill</button>
    </div>
</div>

<br/>
<br/>
<form class="form-horizontal" role="form">
    <button type="button" class="btn btn-default" ng-click="truckingDetailVm.isTruckCollapsed = !truckingDetailVm.isTruckCollapsed">Trucker Information</button>
    <hr>
    <div uib-collapse="truckingDetailVm.isTruckCollapsed">
        <div class="well well-lg">
            <fieldset>
                <legend>Trucker Information</legend>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="dname">Driver Name</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="dname" placeholder="Enter Your Name" ng-model="truckingDetailVm.data.trucker.dname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="dphno">Driver Phone Number</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="dphno" type="text" class="form-control" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" ng-required="true" ng-model="truckingDetailVm.data.trucker.dphno" placeholder="Enter Your Phone Number" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="dOrigin">Origin</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="dorigin" placeholder="Enter Origin" ng-model="truckingDetailVm.data.trucker.dorigin">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="ddestination">Destination</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="ddestination" placeholder="Enter Destination" ng-model="truckingDetailVm.data.trucker.ddestination">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="dlatitude">Latitide</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="dlatitude" placeholder="Enter Latitude" ng-model="truckingDetailVm.data.trucker.dlatitude">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="dlongitude">Logitude</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="dlongitude" placeholder="Enter Longitude" ng-model="truckingDetailVm.data.trucker.dlongitude">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="truckingDetailVm.isExporter1Collapsed = !truckingDetailVm.isExporter1Collapsed">Exporter 1 Information
    </button>
    <hr>
    <div uib-collapse="truckingDetailVm.isExporter1Collapsed">
        <div class="well well-lg">
            <div class="row">
                <div class="col-sm-2">
                    <label for="ename">Exporter Name</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="ename" placeholder="Enter Your Name" ng-model="truckingDetailVm.data.Exporter[0].ename">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pname">Product Name</label>
                </div>
                <div class="col-sm-6">
                    <select id="pname" style="width: 100%;" ng-model="truckingDetailVm.data.Exporter[0].pname">
                        <option ng-repeat="pname in truckingDetailVm.productname track by $index" value="{{pname}}" >{{pname}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pcode">Product Code</label>
                </div>
                <div class="col-sm-6">
                    <select id="pcode" style="width: 100%;" ng-model="truckingDetailVm.data.Exporter[0].pcode">
                        <option ng-repeat="pcode in truckingDetailVm.productcode track by $index" value="{{pcode}}">{{pcode}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pcost">Product Cost</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="pcost" placeholder="Enter Product Cost" ng-model="truckingDetailVm.data.Exporter[0].pcost">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pcode">Nafta-Exempt</label>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="true" ng-model="truckingDetailVm.data.Exporter[0].naftaExempt" value="true" checked>True
                    <input type="radio" name="false" ng-model="truckingDetailVm.data.Exporter[0].naftaExempt" value="false"> False
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="ecountry">Country</label>
                </div>
                <div class="col-sm-6">
                    <select id="ecounty" style="width: 100%;"  ng-model="truckingDetailVm.data.Exporter[0].ecountry">
                        <option ng-repeat="ecountry in truckingDetailVm.country track by $index" value="{{ecountry}}">{{ecountry}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="dphno">Exporter Phone Number</label>
                </div>
                <div class="col-sm-6">
                    <input id="ephno" type="text" class="form-control" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" ng-required="true" ng-model="truckingDetailVm.data.Exporter[0].ephno" placeholder="Enter Your Phone Number" />
                </div>
            </div>
        </div>
    </div>



    <button type="button" class="btn btn-default" ng-click="truckingDetailVm.isExporter2Collapsed = !truckingDetailVm.isExporter2Collapsed">Exporter 2 Information
    </button>
    <hr>
    <div uib-collapse="truckingDetailVm.isExporter2Collapsed">
        <div class="well well-lg">
            <div class="row">
                <div class="col-sm-2">
                    <label for="ename">Exporter Name</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="ename" ng-model="truckingDetailVm.data.Exporter[1].ename" placeholder="Enter Your Name">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pname">Product Name</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="pname" ng-model="truckingDetailVm.data.Exporter[1].pname" placeholder="Enter Product Name">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pcode">Product Code</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="pcode(hts code)" ng-model="truckingDetailVm.data.Exporter[1].pcode" placeholder="Enter Product Code">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pcost">Product Cost</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="pcost" ng-model="truckingDetailVm.data.Exporter[1].pcost" placeholder="Enter Product Cost">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="pcode">Nafta-Exempt</label>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="true"  ng-model="truckingDetailVm.data.Exporter[1].naftaExempt"  value="true" checked>True
                    <input type="radio" name="false"  ng-model="truckingDetailVm.data.Exporter[1].naftaExempt" value="false"> False
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="ecountry">Country</label>
                </div>
                <div class="col-sm-6">
                    <select id="ecountry" ng-model="truckingDetailVm.data.Exporter[1].ecountry" style="width: 100%;">
                        <option ng-repeat="ecountry in truckingDetailVm.country track by $index" value="{{ecountry}}">{{ecountry}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="ephno">Exporter Phone Number</label>
                </div>
                <div class="col-sm-6">
                    <input id="ephno" type="text" class="form-control" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" ng-required="true" ng-model="truckingDetailVm.data.Exporter[1].ephno" placeholder="Enter Your Phone Number" />
                </div>
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-default" ng-click="truckingDetailVm.isImporter1Collapsed = !truckingDetailVm.isImporter1Collapsed">Importer 1 Information
    </button>
    <hr>
    <div uib-collapse="truckingDetailVm.isImporter1Collapsed">
        <div class="well well-lg">
            <div id="demo">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="ename">Importer Name</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="iname" ng-model="truckingDetailVm.data.Importer[0].iname" placeholder="Enter Your Name" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="pname">Product Name</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="pname" ng-model="truckingDetailVm.data.Importer[0].pname" placeholder="Enter Product Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="pcode">Product Code</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="pcode" ng-model="truckingDetailVm.data.Importer[0].pcode" placeholder="Enter Product Code">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="pcode">Payment Code</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="paycode" ng-model="truckingDetailVm.data.Importer[0].paycode" placeholder="Enter Product Code">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="icountry">Country</label>
                    </div>
                    <div class="col-sm-6">
                        <select id="icountry" style="width: 100%;" ng-model="truckingDetailVm.data.Importer[0].icountry">
                            <option ng-repeat="icountry in truckingDetailVm.country track by $index" value="{{icountry}}">{{icountry}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="iphno">Importer Phone Number</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="iphno" type="text" class="form-control" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" ng-required="true" ng-model="truckingDetailVm.data.Importer[0].iphno" placeholder="Enter Your Phone Number" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="truckingDetailVm.isImporter2Collapsed = !truckingDetailVm.isImporter2Collapsed">Importer 2 Information
    </button>
    <hr>
    <div uib-collapse="truckingDetailVm.isImporter2Collapsed">
        <div class="well well-lg">
            <div id="demo">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="ename">Importer Name</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="ename" ng-model="truckingDetailVm.data.Importer[1].ename" placeholder="Enter Your Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="pname">Product Name</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="pname" ng-model="truckingDetailVm.data.Importer[1].pname" placeholder="Enter Product Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="pcode">Product Code</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="pcode" ng-model="truckingDetailVm.data.Importer[1].pcode" placeholder="Enter Product Code">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="pcode">Payment Code</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="paycode"  ng-model="truckingDetailVm.data.Importer[1].paycode" placeholder="Enter Product Code">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="ecountry">Country</label>
                    </div>
                    <div class="col-sm-6">
                        <select id="icountry" style="width: 100%;" ng-model="truckingDetailVm.data.Importer[1].icountry">
                            <option ng-repeat="icountry in truckingDetailVm.country track by $index" value="{{icountry}}">{{icountry}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="iphno">Importer Phone Number</label>
                    </div>
                    <div class="col-sm-6">
                        <input id="iphno" type="text" class="form-control" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" ng-required="true" ng-model="truckingDetailVm.data.Importer[1].iphno" placeholder="Enter Your Phone Number" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br/>
<br/>
<br/>